body {
    text-align: center;
    background-color: antiquewhite;
}

nav {
    color: aqua;
    font-size: 48px;
}

nav a {
    text-decoration: none;
}

nav h1 {
    margin-bottom: 8px;
}

nav h4 {
    font-size: 24px;
    display: inline;
}

.task {
    display: block; 
    border: solid 2px gray;
    border-radius: 15px;
    margin: 10px;
    font-family: monospace;
    font-size: 16px;
}

footer {
    display: block; 
    border-top: solid 2px gray; 
    margin-top: 100px;
}